---
import Galeria from '../components/Galeria.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title = "Galeria" sideBarActiveItemID="galeria">

  <section class="prose prose-lg max-w-[750px] prose-img:mx-auto">
    <h1 class="text-3xl w-full font-bold mb-5">Galeria de fotos</h1>
      <h2 class="text-lg">Treinamento Indoor</h2>

      <ul class="lg:grid lg:grid-cols-2 lg:grid-flow-row">
      <Galeria
      imagePath="/src/assets/01.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />

      <Galeria
      imagePath="/src/assets/02.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/03.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/04.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/05.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/06.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
      <Galeria
      imagePath="/src/assets/07.webp"
      altText="Treinamento indoor fotos."
      name="Treinamento indoor"
      />
    </ul>
  </section>