---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Livros" sideBarActiveItemID="livros">
  <h1 class="text-3xl w-full font-bold mb-5">Livros</h1>

  <div class="py-2">
    <text class="text-lg">
      Clique nas capas para ir a loja
    </text>

  <HorizontalCard
    title="Velejando pelos sonhos"
    img="/livros/Capa livro Velejando Pelos Sonhos.webp"
    desc="Lohan tem um sonho: viajar o mundo. Programa-se, consegue viajar, morar em alguns países, passa por várias experiências enriquecedoras até que é obrigado a voltar pra casa devido à morte de seu pai. Redireciona seus objetivos trabalhando no negócio da família e volta ao exterior com sua esposa para uma visita e para negócios. Uma violenta experiência em uma visita a um país desconhecido o obriga a mudar toda a sua vida e é uma surpresa atrás da outra. Sua meta passou a ser: adaptar os objetivos na vida a uma nova realidade, totalmente diferente."
    url="https://www.amazon.com.br/Velejando-pelos-Sonhos-realiza%C3%A7%C3%A3o-obst%C3%A1culos-ebook/dp/B07718DNSG/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr="
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Fica entre nós hein?"
    img="/livros/Capa livro Fica entre nos.webp"
    desc="A jovem Lisa resolve fazer um diário, mas digital, no seu celular, não em papel, como muitas jovens faziam e ainda fazem. Sua relação com este diário fica muito forte, e ela revela a ele coisas que não conta a sua melhor amiga. Algumas pessoas estranham esta relação, inclusive um jovem com quem ela se casa. Será que ela está exagerando na sua relação com este diário-celular, usado até nas horas mais inusitadas? Ela confia mais no celular do que nas pessoas? Até que ponto ele ajuda ou coloca as pessoas em confusões?"
    url="https://www.amazon.com.br/Fica-Entre-Hein-Tino-Viana-ebook/dp/B07BFDP823/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr="
  />

  <HorizontalCard
    title="Visionário"
    img="/livros/Capa Visionario.webp"
    desc="Juliano escrevia e revisava manuais de aparelhos eletrodomésticos em uma fábrica. Desanimado, vê sua motivação crescer quando uma colega mais jovem é escalada para trabalhar com ele. Desenvolvem um excelente e reconhecido trabalho juntos, que os impulsiona a trabalharem na matriz, na França. Na cidade luz se apaixonam. Além desse amor, outra coisa que muda a sua vida são visões que ele passa a ter. Seriam premonições, avisos de coisas ruins ou são apenas delírios em uma terra estranha? Uma mudança repentina e drástica na sua vida o faz ter outras visões: a de pessoas que estão na mesma condição que ele e que podem ter um futuro brilhante."
    url="https://www.amazon.com.br/Vision%C3%A1rio-proveito-adversidades-pessoas-imaginava-ebook/dp/B07JDPWB92"
  />
  
  <HorizontalCard
  title="Árvore, Livro e Filho"
  img="/livros/Capa_livro Arvore Livro Filho.webp"
  desc="Charles acredita no dito popular que para um ser humano ser completo, ele precisa plantar uma árvore, escrever um livro e fazer um filho. Como é amante da natureza, plantou várias árvores ao longo da sua vida. Abraçou a carreira de escritor e já tinha alguns livros publicados. Quanto ao filho, tinha frustração por, quando era jovem, um grande amor seu ter ido embora sem dar notícias, com um filho seu na barriga, sem conseguir encontrá-los, apesar de muitas tentativas. Em uma feira literária, muito longe de onde morava, encontra um rapaz que muda a sua vida e que o faz construir e compreender o que é amor de pai. Eles viram grandes amigos sem saberem que, na verdade, são pai e filho biológicos. Quais as consequências disso?"
  url="https://www.amazon.com.br/%C3%81rvore-Livro-Filho-necess%C3%A1rio-completa-ebook/dp/B07KDJTZKZ"
  />

  <HorizontalCard
  title="Às origens"
  img="/livros/Capa As origens.webp"
  desc="Ela sonhava ser uma atriz de cinema famosa. Com a parceria de um namorado e muito trabalho, ela se torna competente, popular, famosa internacionalmente, premiada e rica. Mas uma experiência inusitada faz com que ela redirecione a sua carreira e a sua vida para uma causa humanitária extremamente importante. Ela descobre que a essência está, na verdade, nas origens."
  url="https://www.amazon.com.br/%C3%80s-Origens-Busca-se-busca-se-felicidade-ebook/dp/B07MLYKTQ9/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr="
  />

  <HorizontalCard
  title="Amigos Siameses"
  img="/livros/Capa Amigos Siameses.webp"
  desc="Todas as idades têm as suas dificuldades. Dois garotos são muito amigos desde a infância. Enfrentam várias situações juntos, são separados e voltam a conviver, construindo uma brilhante carreira no futebol, em meio a muitos desafios, em várias idades. A amizade leva longe."
  url="https://www.amazon.com.br/Amigos-Siameses-onde-amizade-pessoa-ebook/dp/B07NTKGSKD"
  />

  <HorizontalCard
  title="Deusesperança e Outros Contos"
  img="/livros/Deusesperança.webp"
  desc="Seis contos sobre diversos temas, como um cineasta que vai a fundo demais numa pesquisa sobre mendigos, um chef de cuisine workaholic, diferenças nas punições por agressões feitas por mulheres e por homens, impacto na família do processo de corrupção contra um empresário, trajetória da vida de uma diarista, entre outros temas."
  url="https://www.amazon.com.br/Deusesperan%C3%A7a-Outros-Contos-Tino-Viana-ebook/dp/B09NS3K4GH/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=CAM71U77SG5D&dib=eyJ2IjoiMSJ9.VBjh-JoDFbpWxWmNbg0IYA.6hswjlDzFdF1ivGBLF8zPOqlp4yjlYw6DaW4R34DJQU&dib_tag=se&keywords=deusesperan%C3%A7a&qid=1709053142&s=digital-text&sprefix=deusesperan%C3%A7a%2Cdigital-text%2C259&sr=1-1"
  />